body {
  text-align: center;
  color: white;
  background: linear-gradient(45deg, darkgreen 25%, transparent 25%, transparent 75%, darkgreen 75%),
    linear-gradient(45deg, darkgreen 25%, transparent 25%, transparent 75%, darkgreen 75%);
  background-color: green;
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

input[type="number"] {
  margin: 10px;
  border-radius: 10px;
  font-size: 120%;
  width: 250px;
}

input[type="number"]:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px dodgerblue;
}

input[type="submit"] {
  font-size: 105%;
}

a,
button,
input[type="submit"] {
  margin: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background: brown;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, hotpink 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}

a:hover,
button:hover,
input[type="submit"]:hover {
  background-position: -100% 0;
}

ul {
  text-align: left;
  display: inline-block;
}

ul li {
  font-size: 120%;
}

#players_list {
  display: flex;
  justify-content: center;
}

#players_list p {
  margin: 0 auto 10px;
}

.member {
  margin: auto 10px;
  padding: 0 5px;
}

.name {
  margin: 12px auto 0;
}

.control {
  margin: 0 0 10px;
}

.control a {
  margin: 5px 0;
  display: inline-block;
}

.loginuser {
  border: 3px solid yellow;
}

.rule-head {
  margin-bottom: 0;
}

.rule-body {
  text-align: left;
  width: 800px;
  max-width: 95%;
  display: inline-block;
  background: #007200;
  margin-top: 0;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

ol.rule-body {
  list-style-position: inside;
}

ol li {
  text-indent: -1.3em;
  padding-left: 1.3em;
  margin: 3px auto;
}

li ol {
  margin-left: -2em;
}
