<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Blackjack Rule</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h2>【基本ルール（ブラックジャック）】</h2>

  カジノディーラーとプレイヤーの対戦型ゲームです。
  プレイヤーはカジノディーラーよりも「カードの合計が21点」に近ければ勝利となり、配当を得ることができます。ただしプレイヤーの「カードの合計が21点」を超えてしまうと、その時点で負けとなります。

  <h2>【カードの数え方】</h2>
  ”2～9”まではそのままの数字、”10・J・Q・K”は「すべて10点」と数えます。
  また、”A”（エース）は「1点」もしくは「11点」のどちらに数えても構いません。

  <h2>【特別な役】</h2>
  最初に配られた2枚のカードが”Aと10点札”で21点が完成していた場合を『ブラックジャック』といい、その時点で勝ちとなります。配当は3 to 2（1.5倍）です。但し、カジノディーラーもブラックジャックだった場合は引き分けとなります。

  <h2>ゲームの進行</h2>
  【1】ディーラーからの合図でゲームがスタート。
  【2】チップを賭ける。
  【3】ディーラーからの合図で賭けを締め切ります。
  【4】ディーラーがカードを2枚ずつ配ります。
  【5】ディーラーは順番に各プレイヤーに対してカードの追加を行うか（アクション）を聞いていきます。
  a. カードを追加（ヒット）する場合は、「ヒットボタン」を押してください。カードは何枚でもヒットできますが、21点を越えてしまうとその時点で失格（バスト）となります。
  b. 手持ちの点数が十分だと思ったら、「スタンドボタン」をしてください。その点数のままでディーラーと勝負することになります。
  【6】プレイヤー全員が選択を終えた後、最後にディーラーがカードをめくり、17点以上になるまでカードを引き続け、勝負となります。
  【7】ディーラーよりも21点に近いプレイヤーは勝ちとなり、賭け金と同額の配当を得ることができます。逆にディーラーよりも21点に遠いプレイヤーは負けとなり、賭け金は没収されます。なお、同点の場合はプッシュといい、引き分けとなります。
</body>

</html>
