<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Admin Setting</title>
  <link rel="icon" href="/image/favicon.ico">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h1>ADMIN SETTING</h1>
  <div class="control">
    <a href="/blackjack/resetcoin">全ユーザのコイン枚数を1000枚にリセット</a><br>
    <a href="/blackjack/kickplayers">ルーム内のプレイヤーを全員退出</a><br>
    <a href="/blackjack/controluser">データベース更新</a>
  </div>
  <div th:if="${resetcoin}">リセットされました</div>
  <div th:if="${resetroom}">全員退出されました</div>
  <div th:each="player,stat:${players}">
    <tr>
      <td>[[${stat.count}]]</td>
      <td>ユーザ名:[[${player.name}]]</td>
      <td>コイン数:[[${player.coin}]]</td>
    </tr>
  </div>
  <br>
  <a href="/blackjack/home">戻る</a>
</body>
