<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Blackjack Game</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/card.css" rel="stylesheet" type="text/css">
  <script>
    window.onload = function () {
      var sse = new EventSource('/blackjack/monitorPlayers');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var room = JSON.parse(event.data);
        var players = room.players;
        var players_list = "";
        for (var i = 0; i < players.length; i++) {
          players_list += "<div>"
          var name = "<h3>" + players[i].name + "</h3>";
          players_list += name;
          players_list += "<div>所持コイン数：" + players[i].coin + " / BET：" + players[i].bet + "</div>";
          players_list += "<div class='cards'>";
          for (var j = 0; j < players[i].cards.length; j++) {
            var display = players[i].cards[j].display;
            var card = "<span><img src='/image/cards/" + display + ".png' alt='" + display + "'/></span>";
            players_list += card;
          }
          players_list += "</div>";
          players_list += "<div>合計：" + players[i].sum + "</div>";
          players_list += "</div>";
        }
        console.log(players_list);
        var p = document.getElementById("players_list");
        p.innerHTML = players_list;

      }
    }
  </script>
</head>

<body>
  <h1>Game</h1>
  <h2>Room番号: [[${room.roomId}]] </h2>
  <h2>Hello!<div sec:authentication="name"></div>
  </h2>

  <p th:if="${room}">
  <div>
    <h3>Dealer</h3>
    <div class="cards">
      <span th:each="card:${room.dealer.cards}">
        <img th:src="@{/image/cards/{card}.png (card=${card})}" th:alt="${card}" />
      </span>
    </div>
    <div>
      合計：[[${room.dealer.sum}]]
    </div>
  </div>

  <div id="players_list">
    <div th:each="player:${room.players}">
      <h3>[[${player.name}]]</h3>
      <div>所持コイン数：[[${player.coin}]] / BET：[[${player.bet}]]</div>
      <div class="cards">
        <span th:each="card:${player.cards}">
          <img th:src="@{/image/cards/{card}.png (card=${card})}" th:alt="${card}" />
        </span>
      </div>
      <div>合計：[[${player.sum}]]</div>
    </div>
  </div>

  <div>
    <a th:if="${!burst}" href="/blackjack/gameplay?action=hit">ヒット</a>
    <a href="/blackjack/gameresult">スタンド</a>
  </div>


  </p>
</body>

</html>
