<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Blackjack Game</title>
</head>

<body>
  <h1>Game</h1>
  <h2>Hello!<div sec:authentication="name"></div>
  </h2>
  <div th:if="${Start}">
    <a href="/blackjack/gamestart">ゲームスタート</a>
  </div>
  <p>
  <div th:if="${Dealer}">
    <h3>Dealer</h3>
    <div>
      <span th:each="card:${Dealer.cards}">[[${card}]] </span>
    </div>
    <div>
      合計：[[${Dealer.sum}]]
    </div>
  </div>

  <div th:if="${Player}">
    <h3>Player</h3>
    <div>
      <span th:each="card:${Player.cards}">[[${card}]] </span>
    </div>
    <div>
      合計：[[${Player.sum}]]
    </div>
    <div th:if="${!Player.isStand}">
      <a href="/blackjack/gameplay?action=hit">ヒット</a>
      <a href="/blackjack/gameplay?action=stand">スタンド</a>
    </div>
    <div th:if="${Dealer.isStand}">
      <a href="/blackjack/gameresult">結果</a>
    </div>
  </div>
  </p>
</body>

</html>
