<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Blackjack Home</title>
  <link rel="icon" href="/image/favicon.ico">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script>
    window.onload = function () {
      var sse = new EventSource('/blackjack/monitorRoom');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var room = JSON.parse(event.data);//JSONオブジェクトとしてparse
        var room_link = "";
        if (room[0].enableEntry) {
          room_link += "<a href='/blackjack/lobby'>入室</a>";
        } else {
          room_link += "<div><br>入室可能になるまでお待ちください</div>";
        }
        var r = document.getElementById("room_link");
        r.innerHTML = room_link;
      }
    }
  </script>
</head>

<body>
  <h1>Blackjack Home</h1>
  <h2>Hello! <span sec:authentication="name"></span></h2>
  <div th:if="${coin}">
    所持コイン数：[[${coin}]] 枚
  </div>

  <span id="room_link">
    <div th:unless="${room.enableEntry}"><br>入室可能になるまでお待ちください</div>
    <a th:if="${room.enableEntry}" href="/blackjack/lobby">入室</a>
  </span>
  <a href="/rule">ルール</a>
  <a href="/blackjack/miningroom">マイニング</a>
  <a href="/logout">ログアウト</a>
  <span sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/blackjack/controluser">管理画面</a>
  </span>
</body>

</html>
